/* Styles for 'Einre' */

body {
    text-align: center; /* Center all content in the body */
}
table {
    width: 50%;
    margin: 5px auto;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}
td {
    text-align: right;
    padding: 2px;
}