/* Global Styles */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Typography */

h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

a {
    font-size: medium;
}

/* Layouts */

.container-1 {
    border: 10px solid black;
    padding: 10px;
}

.container-2 {
    border: 5px dashed black;
    padding: 10px;
}